<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <p id="unique" </p> <!-- comment weee -->
       <title>Hamburger store!</title>      
</head>
<body>
  <main>
    <section><h1>Welcome to BurgerHeaven Online</h1></section>
    <div>This is where you execute burger selection</div>
    <h3>Select burger</h3>
    <table>
      <thead>
	<tr>
	  <th>Double Mac Pac</th>
	  <th>Farmers Bombastic Bean Patty</th>
	  <th>Boomers choice</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td><img src="https://cdn-rdb.arla.com/Files/arla-se/2409428905/01a6ac3d-4676-4781-8643-5cbf4387d9dd.jpeg?mode=crop&w=991&h=694&ak=f525e733&hm=00477476" alt="Span" title="Another in-line element" width="200"></td>
	  <td><img src="https://realfood.tesco.com/media/images/RFO-1400x919-Baked-bean-burger-ad8864a9-e82d-45f2-9b3e-0e1aaf16f539-0-1400x919.jpg" alt="Span" title="Another in-line element" width="200"></td>
	  <td><img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/RedDot_Burger.jpg" alt="Span" title="Another in-line element" width="200"></td>
      </tbody>
</tr>
<tbody>
  <tr>
    <td> <ul>	
	<section class="meat">
	  <p><span id="idname"> <!---so here's the tag for "idname" and class "classname" -->
	      <li>Mystery meat</li>
	          </span></p>
</section
	<li>Ostrich eggs</li>
	<li>NON VEGAN</li>
	<li>Loads of gluten and lactose</li>
	    <li>A LOT of calories</li>
	  
	
    </ul> </td>
    <td>  <ul>
	<li>May make you feel bloated</li>
	<li>CONTAINS BEANS</li>
	<section class="classname">
	  <p><span id="idname">
	      <li>Vegan friendly</li>
	  </span></p>
	  </section>
	<li>No lactose or gluten</li>
      </ul>
    </td>
    <td>  <ul>
	<li>Monster Ultra</li>
	<li>Beef</li>
	<li>NON VEGAN</li>
	<li>Loads of gluten and lactose</li>
	<li>A LOT of calories</li>      
      </ul>
    </td>
    
</tbody>
</tr>
<tfoot>
  <tr>
    <td colspan="2"></td>
</table>
<h2>Customer information</h2>
<h3>Delivery information:</h3>
<section id="contact">
  <form>
    <p>
      <label for="firstname">First name</label><br>
      <input type="text" id="firstname" name="fn" required="required" placeholder="First- and Last name"/> </br>
    </p>
    <p>
      <label for="email">E-mail<label><br>
	  <input type="text" id=email name="fn" required="required" placeholder="E-mail address"/></br>    
    </p>
    <p>
      <label for="street">Street<label><br>
	  <input type="text" id=street name="fn" required="required" placeholder="Street name"/></br>    
    </p>
    <p>
      <label for="house">House<label><br>
	  <input type="text" id=house name="fn" required="required" placeholder="House number"/></br>    
    </p>			 
  </form>
</section>
<p>
  <label for="payment">Payment option</label><br />
  <select id="payment" name="pay">
    <option>Swish </option>
    <option>Visa</option>
    <option selected="selected"> PayPal</option>
    <option>Master Card</option>
  </select>
</p>
<form>
  <input checked="checked "type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>
<form>
  <button type="submit"><img src="./static/1md034/img/html/image_button.png" /> Send Info</button>

</form>

<hr>
<footer>CoolBurgersTM </footer>
</body>
</html>

