<!DOCTYPE html>
<html lang="en">
  <head>
    <p id="unique" </p> <!-- comment weee -->
       <title>Hamburger store!</title>
        <meta charset="utf-8"/>
    </head>
<body>
  <main>
    <section><h1>Welcome to BurgerHeaven Online</h1></section>
    <h3>Select burger</h3>
    <div>This is where you execute burger selection</div>
    <h3>The Supreme Burger</h3>

    <img src="https://cdn-rdb.arla.com/Files/arla-se/2409428905/01a6ac3d-4676-4781-8643-5cbf4387d9dd.jpeg?mode=crop&w=991&h=694&ak=f525e733&hm=00477476" alt="Span" title="Another in-line element" width="400">
    <h2>Customer information</h2>
    <div>Provide some information</div>
    <hr>
    <footer>CoolBurgersTM </footer>
    </body>
</html>
         
