@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';


body {
    font-family: arial;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}
table {
    width: 80%;
    height: 100px;
    text-align: left;
}

.selecttext {
    text-align: center;
    
}
.wrapper {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: 200px 200px 200px;
    background-color: black;
    
}

.selection {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: 200px 200px 200px;
    background-color: black;    
}

.box {
    margin: auto;
    border-radius: 0px;
    border-color: black;
    font-size: 80%;
}

.select {
    margin: 0px;
    border-radius: 0px;
    border-color: black;
    font-size: 100%;
}

.a {
    grid-column:  1/span 1;
    grid-row: 1;
}
.b {
    grid-column: 2 / span 1;
    grid-row: 1;
}
.c {
    grid-column: 3/ span 1;
    grid-row:1;
}
header {
    
    height: 100px;
    overflow:hidden;
    margin: 15px 20px;
    padding: 20px 20px 20px;
    opacity: 0.7;
    background:  white url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5tALMyG8Yc48GlLYBamn3e8wdhbn0TPZeMqN2LH01wXYcEgCO&s") repeat left top;
    absolute: top;
}

section {
    height: auto;
    margin: 15px 20px;
    padding: 20px 20px 20px;
    border-style: dashed;
    border-color: black;
}

button {
    margin: 20px;
    padding: 20px;
}

p {
  color: black;
  text-align: left;
}

.classname {
    color: green;
    text-transform: uppercase;
    font-weight: bold;
}

.meat {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#coolid {
    background-color: black;
}

#idnamed {    
}

input[type="radio"] {
    height: 1.2em;
    width: 1.2em;
}

class:hover {
    color:black;
}

input:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    color: blue;
}
