@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';


body {
    font-family: arial;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}
table {
    width: 80%;
    height: 100px;
    text-align: left;
}

li {
    height: 30px;
    margin: 2px 0px;
    padding: 2px 0px 2px;
    
}
section {
    height: auto;
    margin: 2px 0px;
    padding: 2px 0px 2px;
    
}

button {
    margin: 20px;
    padding: 20px;
}

p {
  color: black;
  text-align: left;
}

.classname {
    color: green;
    text-transform: uppercase;
    font-weight: bold;
}

.meat {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#coolid {
    background-color: black;
}

#idnamed {    
}

input[type="radio"] {
    height: 1.2em;
    width: 1.2em;
}

class:hover {
    color:black;
}

input:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    color: blue;
}
