@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: arial;
    font-size: 20px;
}
p {
  color: black;
  text-align: left;
}

.classname {
    color: green;
    text-transform: uppercase;
    font-weight: bold;
}

.meat {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#coolid {
    background-color: black;
}

#idnamed {    
}

input[type="radio"] {
    height: 1.2em;
    width: 1.2em;
}

class:hover {
    color:black;
}

input:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    color: blue;
}
